<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Mi aplicación para notas<br>
    </h1>
<br>
<hr>
</div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-2 offset-md-3">
        <button class="btn btn-primary btn-block" (click)="addNote()">
            Nueva Nota
        </button>
    </div>
    <br><br><br>
</div>
<div class="row">
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item" (click)="viewNote(note)" *ngFor="let note of my_notes" style="background-color: rgb(255, 234, 158)">
                <h4>{{note.name}} </h4>
                <blockquote>{{note.description}}</blockquote>
            </li>
        </ul>
    </div>
    <div class="col-md-6" *ngIf="show_form">
        <h2>{{form_label}} Nota</h2>
        <div>
            <input #theInput class="form-control" type="text" placeholder="Nombre de la nota" required minlength="3" [(ngModel)]="new_note.name" disabled="{{formDisabled}}" required/>
            <br>
            <textarea class="form-control" placeholder="Contenido de la nota" [(ngModel)]="new_note.description" disabled="{{formDisabled}}" required>
            </textarea>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-success btn-block" (click)="createNote()">
                        {{form_label}}
                    </button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-warning btn-block" (click)="discardNote()">
                        Cancelar
                    </button>
                </div>
                <div class="col-md-4" *ngIf="new_note.id!=undefined">
                    <button class="btn btn-danger btn-block" (click)="deleteNote()">
                        Eliminar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
